@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Barra de scroll*/
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

    *::-webkit-scrollbar {
        display: none; /* WebKit (Safari, Chrome) */
    }
/*Barra de scroll fin*/

a {
    text-decoration: none;
}

.cursorDefault {
    cursor: default;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

/*SIDEBAR FIXED*/

/*NAVBAR FIXED*/


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Asegurar que el sidebar ocupe toda la altura */
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
}

/*Ajusta el container*/
.main {
    margin-left: 70px; 
    margin-top: 56px; 
    padding-top: 15px; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.sidebarMarginToggler {
    margin-top:75px;
}
.sidebarMarginLogo {
    margin-top:95px;
}

/*FIXED END*/


#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

label.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    border-radius: 30px;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    padding-left: 60px;
    cursor: pointer;
}

#navbarTop ul li a:hover {
    color: orange;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover, a.sidebar-link:focus, a.sidebar-link:active {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid red;
}

.sidebar-dropdown {
    border-radius: 0px 20px 20px 0px;
}

.sidebar-footer .sidebar-link:hover {
    color: #bf0d0d;
    font-weight: bold;
}

/*Radio Checked*/
input[type="radio"].btn-check:checked + label {
    background-color: lightgreen;
    color: black;
    opacity: 0.8;
    border-left: 3px solid orange;
}

/*Checkbox Checked*/
input[type="checkbox"].btn-check:checked + label {
    background-color: lightgreen;
    color: black;
    opacity: 0.8;
    border-left: 3px solid orange;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: darkslategrey;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


/*Scroll Vertical en Sidebar*/
.sidebar-nav-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 60px); 
}


/*Efecto offcanvas del sidebar*/
#sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 900; 
    transition: background-color 0.3s ease; 
    pointer-events: none; 
}

#sidebar.expand ~ #sidebarOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}



/*No Border*/

.no-border{
    border:none;
}



/*Efectos ImgPerfil*/
#divImg:hover {
    box-shadow: 0px 0px 122px 22px rgba(22,184,41,1);
}
    #divImg:hover #imgPerfil {
        transform: scale(1.05);
    }


#adminIcono {
    box-shadow: 0px 0px 122px 22px rgba(22,184,41,1);
}
